/*Creacion y modificacion de todos los contenedores de la web, incluyendo
la formacion del header, los articulos, etc. Se utilizará el modelo
de cajas para la creacion de elementos y se dispondrá la posición
mediante flex o grid cuando sea conveniente*/

.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;

    width: 100%;
    height: 15%;

    border-bottom: 4px solid rgb(200, 162, 109);
    background-color: rgb(252, 237, 214);
}