/*--------------------------------------------
Importamos las fuentes tipográficas de la página Google Fonts

-Usaremos Macondo (Pueblo ficticio Cien años de soledad) unicamente para el menu de navegación 
y los títulos principales
-Para el resto del texto usaremos Lora, una tipografía elegante similar a las impresiones de los
libros
--------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Lora&display=swap');

:root{
    margin: 0;
    padding: 0;

    --font-macondo: 'Macondo', sans-serif, cursive;
    --lora-regular: 'Lora', serif;
}


.lora-regular {
  font-family: var(--lora-regular);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.macondo-regular {
  font-family: var(--font-macondo);
  font-weight: 400;
  font-style: normal;
}
