/*Aqui modificaremos unicamente las imagenes o videos si los hubiera
Las modificaciones se basará, principalmente en obtener un tamano
adecuado para la web*/

.icon-header{
    width: 100px;
    height: 100px;
}

.small-icon{
    width: 40px;
    height: 40px;
}

table img{
    width: 160px;
    height: 200px;
    border-radius: 2px;
}

.gallery img{
    width: 250px;
    height: 320px;
    border-radius: 2px;
}