body{
    margin: 0;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    color: white;
}

h1{
    display: flex;
    justify-content: space-evenly;
    font-family: "Orbitron", sans-serif;
    color: yellow;
    margin: auto;
}

.planetas{
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;

    width: 100vw;
    height: 100vh;
}

.planetas div h2{
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    color: white;
}

.planetas div img{
    width: 100%;
    min-width: 300px;
    height: 30vh;
}