nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-height: 200px;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    
    color: white;
    background-color: #333;

    flex-wrap: wrap;
}


ul{
    display: flex;
    justify-content: flex-start;

}

#enlaces{
    text-decoration: none;
    padding: 10px;
}

#enlaces a{
    color: white;
    text-decoration: none;
}

#rrss{
    background-color: aqua;
}