*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    font-family: "Orbitron", sans-serif;
    color: white;    
    font-size: 1.75rem;
    background-color: black;
    border-bottom: 3px solid midnightblue;
    width: 100%;
}

#enlaces{
    display: flex;
    padding: 1%;
    list-style: none;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 20px;
}

#rrss{
    display: flex;
    padding: 0.5rem;
    align-content: center;
    background-color: midnightblue;
    padding: 15px;

    list-style: none;
}