h1,h2{
    text-align: center;
}

.cabecera{
    display: flex;
    justify-content: center;
}

.cabecera h1{
    padding:  0px 1em;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@keyframes spin2 { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}

.cabecera img:nth-child(1){
    animation:spin 2s linear infinite;
}

.cabecera img:nth-child(3){
    animation: spin2 2s linear infinite;
}


img{
    width: 75px;
    height: 75px;
}

.ejercicio{
    background-color: #1f5768;
    margin: auto;
    width: 500px;
    height: 350px;
    display: flex;
}
/* EMPEZAMOS */
/* El 20 tiene su aquel solo para los mas valientes. */
#ej1{
    justify-content: center;
    align-items: center;
}

#ej2{
    justify-content: center;
    align-items: flex-end;
}

#ej3{
    justify-content: flex-start;
    align-items: center;
}

#ej4{
    justify-content: space-evenly;
    align-items: end;
}

#ej5{
    justify-content: space-between;
    align-items: end;
}

#ej6{
    justify-content: space-evenly;
    align-items: center;
}

#ej7{
    align-items: end;
    justify-content:left;
    flex-direction: row-reverse;
}

#ej8{
    align-items: flex-end;
    flex-direction: column-reverse;
}

#ej9{
    flex-direction: row-reverse;
    align-items: center;
}

#ej10{
    align-items: center;
    justify-content: end;
}

#ej11{
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

#ej12{
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#ej13{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#ej14{
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-content: start;
}

#ej15{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: space-around;
}

#ej16{
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: end;
    align-content: space-around;
}

#ej17{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
    align-content: space-between;
}

#ej18{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-content: center;
}

#ej19{
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: end;
}

#ej20{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#ej20 .frogEvil{
    order: 1;
}