/*Creacion y modificacion de todos los contenedores de la web, incluyendo
la formacion del header, los articulos, etc. Se utilizará el modelo
de cajas para la creacion de elementos y se dispondrá la posición
mediante flex o grid cuando sea conveniente*/

.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;

    width: 100%;

    border-bottom: 4px solid rgb(200, 162, 109);
    background-color: rgb(252, 237, 214);
}

.nav-gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    background: #d3dde3;
    background: linear-gradient(326deg, rgba(211, 221, 227, 1) 0%, rgba(242, 234, 143, 0.53) 30%, rgba(255, 255, 247, 1) 82%, rgba(255, 255, 255, 1) 100%);

    gap: 10px;
}

.table{
    border: 2px solid rgb(200, 162, 109);
    border-collapse: separate;
    border-radius: 4px;
    align-content: center;
    font-size: 1.25rem;

    th, td{
        width: 20%;
        border: 1.5px solid rgb(200, 162, 109);
        padding: 10px;
        text-align: center;
    }
}

.backgorud-gallery{
    background: #d3dde3;
    background: linear-gradient(326deg, rgba(211, 221, 227, 1) 0%, rgba(242, 234, 143, 0.53) 30%, rgba(255, 255, 247, 1) 82%, rgba(255, 255, 255, 1) 100%);
}