/*Creacion y modificacion de todos los contenedores de la web, incluyendo
la formacion del header, los articulos, etc. Se utilizar치 el modelo
de cajas para la creacion de elementos y se dispondr치 la posici칩n
mediante flex o grid cuando sea conveniente*/

.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;

    width: 100%;

    border-bottom: 4px solid rgb(200, 162, 109);
    background-color: rgb(252, 237, 214);
}

.nav-gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

/*Para tener el dise침o responsivo de mantener una rejilla 2x6 inicial  sin 
utilizar un display: flex con la propiedad wrap, utilizaremos media queries
para tener un control absoluto del comportamiento. De esta manera le decimos
exactamente en que punto debe dividirse y que tiene que hacer cuando esto 
suceda.*/

.gallery{
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    row-gap: 50px;
    
    background: #d3dde3;
    background: linear-gradient(326deg, rgba(211, 221, 227, 1) 0%, rgba(242, 234, 143, 0.53) 30%, rgba(255, 255, 247, 1) 82%, rgba(255, 255, 255, 1) 100%);
}

/*Si la ventana baja de 1500px, la rejilla se tranforma en 5 columnas y asi
secesivamente con las siguientes declaraciones*/

@media (max-width: 1500px) {
    .gallery {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}


.table{
    margin: 40px 60px;
    border: 2px solid rgb(200, 162, 109);
    border-collapse: separate;
    border-radius: 4px;
    align-content: center;
    font-size: 1.25rem;

    th, td{
        width: 20%;
        border: 1.5px solid rgb(200, 162, 109);
        text-align: center;
    }
}

.backgorud-gallery{
    background: #d3dde3;
    background: linear-gradient(326deg, rgba(211, 221, 227, 1) 0%, rgba(242, 234, 143, 0.53) 30%, rgba(255, 255, 247, 1) 82%, rgba(255, 255, 255, 1) 100%);
}

/*Definicion de propiedades para la pagina informacion*/

.figure{
    display: flex;
    flex-direction: column; 
    align-items: center;
    float: right;
    margin: 0px 50px 25px 100px;
}



