/*Todos los elemenetos individuales o colectivos que no sean cajas,
imagenes, o fuentes se manejarán aqui. Por ejemplo los botones,
elementos de una lista, etc*/

/*Creacion del Header*/

.nav-header ul{
    font-family: var(--font-macondo);
    font-size: 1.7rem;
    font-weight: 700;

    list-style: none;

    display: flex;
    gap: 60px;
}

/*Quitamos la decoración de los enlaces*/

.nav-header a{
    text-decoration: none;
    color: inherit;
}

/*Modificamos el formulario*/

#form-header{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
}

#form-header label{
    font-family: var(--font-macondo);
    font-style: italic;
    font-weight: 500;
}

.submit-button{
    font-family: var(--font-macondo);
    grid-column: 1/3;
}

/*Establecemos que aspecto tendrá los titulos*/

.title{
    font-family: var(--font-macondo);
    font-size: 1.7rem;
    font-weight: 700;

    color: rgb(160, 147, 128);
}

.no-padding{
    padding: 0;
}